block content
   div.row
      div.col-sm-6
         div.page-header
            h1 Reset password
         div#Contact
            form(role='form',method="post",action="")
               .form-group
                  input.form-control(type='password', style='border-radius: 0px;', placeholder='The new password', name="password")
               .form-group.text-right
                  button.btn.btn-primary(type='submit') Reset password
