//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 
extends ../page

block content
    .container.theme-showcase
        .row-fluid
            .col-sm-12(ng-init='uId=#{JSON.stringify(userId)}')
                .page-header
                    h1 Profile
                #profile(ng-controller='ProfileCtrl')
                    label Name
                    table.table
                        thead
                            tr
                                th First
                                th Middle
                                th Last
                                th Action
                        tbody
                            tr
                                td
                                    input.form-control(ng-model='newName.name.first')
                                td
                                    input.form-control(ng-model='newName.name.middle')
                                td
                                    input.form-control(ng-model='newName.name.last')
                                td
                                    button.btn(ng-click='changeName()') Change Name
                            tr
                                td {{user.name.first}}
                                td {{user.name.middle}}
                                td {{user.name.last}}
                            tr
                                th
                                    | email
                                td
                                    input.form-control(ng-model='newEmail.email')
                                td
                                    button.btn(ng-click='changeEmail()') Change Email
                    label Email
                    p {{user.email}}
                    label Username
                    p {{user.username}}
                    label Id
                    p #{userId}
                    .row-fluid
                        label Roles
                        .btn-group.pull-right(ng-if='isAdmin()')
                            button.btn.btn-success.dropdown-toggle(data-toggle='dropdown')
                                | Add role
                                span.caret
                            ul.dropdown-menu
                                li(ng-repeat='appRole in appRoles')
                                    a(ng-click='addRole(appRole)') {{appRole}}
                                li.divider(role='separator')
                                li
                                    a(href='roles/#createRole') Add new role
                    .row-fluid
                        div(ng-repeat='role in user.roles')
                            h3
                                span.label.label-default {{role.name}}
                                a.btn.btn-danger(ng-click='removeRole(role.name)')
                                    i.fa.fa-trash-o.fa-lg
                                    |  Delete
                            table.table
                                thead
                                    tr
                                        th Resources
                                        th Permissions
                                tbody
                                    tr.active(ng-repeat='(resource, permissions) in role.info')
                                        td {{resource}}
                                        td
                                            table(ng-repeat='permission in permissions')
                                                tbody
                                                    td {{permission}}
                        .col-sm-2(ng-if='isAdmin()')
                            a.btn.btn-primary.btn-lg(role=button href='/users') Users list
                        .col-sm-2(ng-if='isAdmin()')
                            a.btn.btn-primary.btn-lg(role=button href='/roles') Roles list
