h3 #{projectName} Verification mail
p
    | You are receiving this email because you have requested the verification of your account.
    br
    | Please click on the following link, or paste this into your browser to complete the process:
    br
    br
    a #{link}
    br
    br
    | If you did not request this, please ignore this email.