nav.navbar.navbar-inverse.navbar-top
    .container(ng-controller='ToolbarController')
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') Users API
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li(ng-if='isUser()')
                    a.btn(ng-click='seeProfile()') Profile
                li(ng-if='isAdmin()')
                    a.btn(ng-click="href('/users')") Users
                li(ng-if='isAdmin()')
                    a.btn(ng-click="href('/roles')") Roles
                li
                    a.btn(ng-click="href('/api')") API
                li
                    a.btn(ng-click="href('/contact')") Contact
                li(ng-if='isUser()')
                    a.btn(ng-click='logout()') Logout
                li(ng-if='!isUser()')
                    a.btn(ng-click="href('/signup')") Signup
                li(ng-if='!isUser()')
                    a.btn(ng-click="href('/login')") Login

