extends ../layout

block content
    .row-fluid
        .col-sm-12
            .page-header
                h1 Roles
            div#profile(ng-controller='RolesController')
                .row-fluid
                    table.table(ng-repeat='role in rolesList')
                        thead
                            tr
                                th
                                    h2 {{role.name}}
                                    |  Resources
                                th Permissions
                        tbody
                            tr.active(ng-repeat='(resource, permissions) in role.info')
                                td {{resource}}
                                td
                                    table(ng-repeat='permission in permissions')
                                        tbody
                                            td {{permission}}
                                td
                                    .btn.btn-danger(ng-if='!isAdminRole(role.name)' ng-click='removeResource(role.name, resource)' role=button) Remove resource
                                td
                                    input.form-control(ng-if='!isAdminRole(role.name)' type='text' ng-model='newPer[resource]')
                                td
                                    .btn.btn-success(ng-if='!isAdminRole(role.name)' ng-click='addPermission(role.name, resource)' role=button) Add permission
                                td
                                    .btn.btn-danger(ng-if='!isAdminRole(role.name)' ng-click='removePermission(role.name, resource)' role=button) Remove permission
                            tr(ng-if='!isAdminRole(role.name)')
                                td
                                    input.form-control(type='text' ng-model='newRec[role.name]')
                                td
                                    input.form-control(type='text' ng-model='newRecPer[role.name]')
                                td
                                    .btn.btn-primary(role=button ng-click='addResource(role.name)') Add resource


