h3 Welcome to #{projectName}
p
  | Thanks for signing up. As requested, your account has been created.
  br
  | Here are your login credentials:
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td Userame:
    td #{username}
  tr
    td Email:
    td #{email}

