| Welcome to #{projectName}
= '\n'
= '\n'
| Thanks for signing up. As requested, your account has been created.
= '\n'
| Here are your login credentials:
= '\n'
| Username: #{username}
| Email: #{email}


