extends ../layout

block content
    .row-fluid
        .col-sm-6
            .page-header
                h1 Sign In
            div#login(ng-controller='LoginController')
                .form-group
                    label Username:
                    input.form-control(type='text' name='username' ng-model='username')
                .form-group
                    label Password:
                    input.form-control(type='password' name='password' ng-model='password')
                .form-actions
                    button.btn.btn-primary.btn-login(type='submit' ng-click='login()') Sign In
                    | &nbsp;
                    a.btn.btn-link(href='/login/forgot') Forgot your password?