//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 
#createRole.row-fluid
    style.
        .lpad {
            padding-left: 5px;
        }

        .gpad {
            padding-left: 30px;
        }
    .page-header
        h3 Create new Application
    table(padding-left='12cm')
        tbody
            tr
                td.lpad
                    label Application name
                    input.form-control(type='text' ng-model='name')
                td.lpad
                    label Prefix
                    input.form-control(type='text' ng-model='prefix')
                td.lpad
                    label Host
                    input.form-control(type='text' ng-model='host')
            tr
                td
                    h4 New Roles
            tr
                table.border(ng-repeat='applicationRole in applicationRoles')
                    tr
                        td.gpad
                            label Role name
                            input.form-control(type='text' ng-model='applicationRole.roles')
                    tr(ng-repeat='allow in applicationRole.allows')
                        td.gpad
                            label Resource
                            input.form-control(type='text' ng-model='allow.resourceName')
                        td.lpad
                            label Permission
                            input.form-control(type='text' ng-model='allow.permissionName')
                    td.gpad
                        br
                        button.btn.btn-default(ng-click='addResourceInput(applicationRole)') More resources
            tr
                td
                    br
                    button.btn.btn-default(ng-click='addRoleInput()') More roles
            tr
                table.border(ng-repeat='anonymousRoute in anonymousRoutes')
                    tr
                        td
                            br
                            label Route allowing unidentified requests
                            input.form-control(type='text' ng-model='anonymousRoute.route')
                td
                    br
                    button.btn.btn-default(ng-click='addAnonymousRouteInput()') More routes
            tr
                td
                    br
                    br
                    button.btn.btn-primary(ng-click='addApplication()') Add application