//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 
extends ../page

block content
    .container.theme-showcase
        .row-fluid(ng-controller='ApplicationsCtrl')
            .col-sm-12
                .page-header
                    h1 Applications list
                #applications
                    table.table
                        thead
                            tr
                                th Name
                                th.col-sm-12 Prefix
                                th Host
                                th Route allowing unidentified requests
                                th Actions
                                th
                        tbody(ng-repeat='application in response.data')
                            tr.active
                                td
                                    input(value='{{application.name}}' ng-model='application.name')
                                td
                                    input(value='{{application.prefix}}' ng-model='application.prefix')
                                    br
                                    p
                                        i {{proxyRoute}}{{application.prefix}}/
                                td
                                    input(value='{{application.host}}' ng-model='application.host')
                                td
                                    label {{application.anonymous.join(", ")}}
                                    input(value='{{application.anonymousRoute}}' ng-model='application.anonymousRoute')
                                td
                                    button.btn.btn-warning(ng-click='applyChanges(application)') Apply changes
                                td
                                    a.btn.btn-danger(ng-click='deleteApplication(application._id)')
                                        i.fa.fa-trash-o.fa-lg  Delete
                                td
                                    button.btn.btn-info(ng-show='application.routes.length>0' ng-click='show=!show' title="Show the routes")
                                        i.fa.fa-search {{application.routes.length}}
                            tr(ng-if='show' ng-repeat='route in application.routes')
                                td.info(colspan=7) {{route}}
                #menu
                .col-sm-12
                    include menu
                .col-sm-12.tab-content
                    #boxes.tab-pane.active
                        include boxes
                    #text-area.tab-pane
                        include text-area



