extends ../page

block content
    .container.theme-showcase
        .row-fluid(ng-controller='ApplicationsController')
            .col-sm-12
                .page-header
                    h1 Applications list
                #applications
                    table.table
                        thead
                            tr
                                th Name
                                th.col-sm-12 Prefix
                                th Host
                                th Route allowing unidentified requests
                                th Actions
                        tbody
                            tr.active(ng-repeat='application in response.data')
                                td
                                    input(value='{{application.name}}' ng-model='application.name')
                                td
                                    input(value='{{application.prefix}}' ng-model='application.prefix')
                                    br
                                    p
                                        i {{proxyRoute}}{{application.prefix}}/
                                td
                                    input(value='{{application.host}}' ng-model='application.host')
                                td
                                    label {{application.anonymous.join(", ")}}
                                    input(value='{{application.anonymousRoute}}' ng-model='application.anonymousRoute')
                                td
                                    button.btn.btn-warning(ng-click='applyChanges(application)') Apply changes
                                td
                                    a.btn.btn-danger(ng-click='deleteApplication(application._id)')
                                        i.fa.fa-trash-o.fa-lg  Delete
                #menu
                .col-sm-12
                    include menu
                .col-sm-12.tab-content
                    #boxes.tab-pane.active
                        include boxes
                    #text-area.tab-pane
                        include text-area



