style.
    li.pad-menu {
        padding: 20px;
    }
ul.nav.nav-tabs
    li.pad-menu.active
        button.menu-item(href="#boxes", role="tab", data-toggle="tab", ng-click="view = 'boxes'")
            | Wizard
    li.pad-menu
        button.menu-item(href="#text-area", role="tab", data-toggle="tab", ng-click="view = 'text-area'")
            | Raw
