h3 Script application
textarea.form-control.custom-control(rows='12' ng-model='applicationString')
.input-group.col-sm-12
    button.btn.btn-default(ng-click='selectApp(gleanerApplication)') App1
    button.btn.btn-default(ng-click='selectApp(emotionsApplication)') App2
br
button.btn.btn-primary(ng-click='addScriptApplication()') Add application
