extends ../layout

block content
    include ../toolbar
    .container.theme-showcase
        .row-fluid
            .col-sm-12
                .page-header
                    h1 Users list
                #users(ng-controller='UsersController')
                    table.table
                        thead
                            tr
                                th Name
                                th Email
                                th Id
                                th Action
                        tbody
                            tr.active(ng-repeat='user in response.data')
                                td {{user.name.first}} {{user.name.middle}} {{user.name.last}}
                                td {{user.email}}
                                td {{user._id}}
                                td
                                    button.btn(ng-click='edit(user._id)') Edit